<Controls>
  <Player0>
    <Keyboard_Up>W</Keyboard_Up>
    <Keyboard_Down>S</Keyboard_Down>
    <Keyboard_Left>A</Keyboard_Left>
    <Keyboard_Right>D</Keyboard_Right>
    <Keyboard_Attack>J</Keyboard_Attack>
    <Keyboard_NextWeapon>E</Keyboard_NextWeapon>
    <Keyboard_PrevWeapon>Q</Keyboard_PrevWeapon>
    <Keyboard_Pause>Space</Keyboard_Pause>
    <Keyboard_Accept>Return</Keyboard_Accept>
    <Keyboard_Cancel>Escape</Keyboard_Cancel>
    <Keyboard_Target>K</Keyboard_Target>
    <Gamepad_Up>Dpad Up</Gamepad_Up>
    <Gamepad_Down>Dpad Down</Gamepad_Down>
    <Gamepad_Left>Dpad Left</Gamepad_Left>
    <Gamepad_Right>Dpad Right</Gamepad_Right>
    <Gamepad_Attack>A</Gamepad_Attack>
    <Gamepad_NextWeapon>RB</Gamepad_NextWeapon>
    <Gamepad_PrevWeapon>LB</Gamepad_PrevWeapon>
    <Gamepad_Pause>Start</Gamepad_Pause>
    <Gamepad_Accept>A</Gamepad_Accept>
    <Gamepad_Cancel>B</Gamepad_Cancel>
    <Gamepad_Target>Right Trigger</Gamepad_Target>
  </Player0>
  <Player1>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_NextWeapon>None</Keyboard_NextWeapon>
    <Keyboard_PrevWeapon>None</Keyboard_PrevWeapon>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Target>None</Keyboard_Target>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_NextWeapon>
    </Gamepad_NextWeapon>
    <Gamepad_PrevWeapon>
    </Gamepad_PrevWeapon>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Target>
    </Gamepad_Target>
  </Player1>
  <Player2>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_NextWeapon>None</Keyboard_NextWeapon>
    <Keyboard_PrevWeapon>None</Keyboard_PrevWeapon>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Target>None</Keyboard_Target>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_NextWeapon>
    </Gamepad_NextWeapon>
    <Gamepad_PrevWeapon>
    </Gamepad_PrevWeapon>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Target>
    </Gamepad_Target>
  </Player2>
  <Player3>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_NextWeapon>None</Keyboard_NextWeapon>
    <Keyboard_PrevWeapon>None</Keyboard_PrevWeapon>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Target>None</Keyboard_Target>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_NextWeapon>
    </Gamepad_NextWeapon>
    <Gamepad_PrevWeapon>
    </Gamepad_PrevWeapon>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Target>
    </Gamepad_Target>
  </Player3>
  <Player4>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_NextWeapon>None</Keyboard_NextWeapon>
    <Keyboard_PrevWeapon>None</Keyboard_PrevWeapon>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Target>None</Keyboard_Target>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_NextWeapon>
    </Gamepad_NextWeapon>
    <Gamepad_PrevWeapon>
    </Gamepad_PrevWeapon>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Target>
    </Gamepad_Target>
  </Player4>
  <Player5>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_NextWeapon>None</Keyboard_NextWeapon>
    <Keyboard_PrevWeapon>None</Keyboard_PrevWeapon>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Target>None</Keyboard_Target>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_NextWeapon>
    </Gamepad_NextWeapon>
    <Gamepad_PrevWeapon>
    </Gamepad_PrevWeapon>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Target>
    </Gamepad_Target>
  </Player5>
  <Player6>
    <Keyboard_Up>None</Keyboard_Up>
    <Keyboard_Down>None</Keyboard_Down>
    <Keyboard_Left>None</Keyboard_Left>
    <Keyboard_Right>None</Keyboard_Right>
    <Keyboard_Attack>None</Keyboard_Attack>
    <Keyboard_NextWeapon>None</Keyboard_NextWeapon>
    <Keyboard_PrevWeapon>None</Keyboard_PrevWeapon>
    <Keyboard_Pause>None</Keyboard_Pause>
    <Keyboard_Accept>None</Keyboard_Accept>
    <Keyboard_Cancel>None</Keyboard_Cancel>
    <Keyboard_Target>None</Keyboard_Target>
    <Gamepad_Up>
    </Gamepad_Up>
    <Gamepad_Down>
    </Gamepad_Down>
    <Gamepad_Left>
    </Gamepad_Left>
    <Gamepad_Right>
    </Gamepad_Right>
    <Gamepad_Attack>
    </Gamepad_Attack>
    <Gamepad_NextWeapon>
    </Gamepad_NextWeapon>
    <Gamepad_PrevWeapon>
    </Gamepad_PrevWeapon>
    <Gamepad_Pause>
    </Gamepad_Pause>
    <Gamepad_Accept>
    </Gamepad_Accept>
    <Gamepad_Cancel>
    </Gamepad_Cancel>
    <Gamepad_Target>
    </Gamepad_Target>
  </Player6>
</Controls>